:local(.styles) {
  .minmax0 {
    fill: #778ea5;
  }

  .minmax1 {
    fill: #617b96;
  }

  #legend-text{
    fill: #000000;
    font-size: 9px;
  }

  .bar {
    fill: #778ea5;
  }

  .bar-other {
    fill: #617b96;
  }

  .bar-highlighted {
    fill: #444444;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-size: 11px;
  }

  .x-axis {
    font-size: 10px;
  }
}
