:local(.styles) {
  border: 1px solid #000;

  .blocks path {
    fill: #fff;
    stroke: #ccc;
    stroke-width: 1px;
    pointer-events: all;
    cursor: pointer;

    &.q0-9{fill:rgb(252,251,253)}
    &.q1-9{fill:rgb(239,237,245)}
    &.q2-9{fill:rgb(218,218,235)}
    &.q3-9{fill:rgb(188,189,220)}
    &.q4-9{fill:rgb(158,154,200)}
    &.q5-9{fill:rgb(128,125,186)}
    &.q6-9{fill:rgb(106,81,163)}
    &.q7-9{fill:rgb(84,39,143)}
    &.q8-9{fill:rgb(63,0,125)}

    &:hover {
      fill: #aaa;
    }
  }

  .lines path {
    fill: none;
    stroke: #000;
    stroke-width: 3;
  }

  .background {
    fill: #b3d1ff;
    pointer-events: all;
  }

  .zoom-button {
    cursor: pointer;
    font-family: "Glyphicons Halflings";
    font-size: 1.1em;
    text-anchor: end;
  }
}

.subway-lines {
  display: none;
}

.subway .subway-lines {
  display: block;
}

.bus-lines {
  display: none;
}

.bus .bus-lines {
  display: block;
}

.congestion-lines {
  display: none;
}

.congestion .congestion-lines {
  display: block;
}
