:local(.styles) {
  .area {
    fill: lightsteelblue;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .tick text {
    font-size: 12px;
  }

  .dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;

    &:hover {
      cursor: pointer;
      fill: steelblue;
    }
  }

  .line-label {
    font-size: 11px;
    fill: steelblue;
  }
}
