/* global styles */

@import 'rc-slider/assets/index.css';
@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;

  h1 {
    margin-top: 80px;
  }

  h2 {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }

  svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    margin: 0.3em auto 0;
    max-width: 960px;
  }

  .filters-simple {
    margin: 1em auto 0.2em;
    max-width: 700px;
    text-align: center;
  }

  .map-container {
    margin: 0 auto;
    position: relative;
    width: 960px;
  }

  .map-visualize {
    background: #eee;
    border: 1px solid #999;
    top: 20px;
    left: 20px;
    padding: 1em;
    position: absolute;
    width: 200px;

    h4 {
      margin-top: 0;
    }
  }

  .d3-tip {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: #fff;
    padding: 1em;
    text-align: center;

    &:first-line {
      font-size: 1.5em;
    }
  }

  table {
    color: #fff;
  }

  td {
    font-weight: normal !important;
    font-size: 16px !important;
    padding: 0.1em 0.3em;
  }

  label {
    font-weight: 300;
    margin: 0;

    input[type=radio],
    input[type=checkbox] {
      display: inline-block;
      margin-right: 3px;
    }
  }
}
