:local(.styles) {
  .button {
    background: #eee;
    color: #000;
    display: block;
    margin-top: 2em;

    &:hover {
      background: #ddd;
    }
  }

  .button-last {
    margin-bottom: 2em;
  }
}
